<div class="recipe-list-container">
  <mat-card
    *ngFor="let recipe of recipeList"
    class="recipe-list-item-container"
  >
    <div class="recipe-inner-container">
      <div class="recipe-image-container">
        <img
          class="clickable"
          height="140"
          src="{{ recipe.image ? recipe.image : placeholderImage }}"
          (click)="navigateToView(recipe.id)"
        />
      </div>
      <div class="recipe-information-container">
        <button
          class="recipe-item-nav-button clickable"
          (click)="navigateToView(recipe.id)"
        >
          {{ recipe.name }}
        </button>
      </div>
    </div>
  </mat-card>
</div>
