<div class="recipe-editor-container">
  <div class="placeholder"></div>
  <mat-card class="card">
    <div [formGroup]="formGroup">
      <div class="form-control">
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Név" required />
        </mat-form-field>
      </div>
      <div class="form-control">
        <mat-form-field>
          <mat-select
            formControlName="category"
            placeholder="Kategória"
            required
          >
            <mat-option
              *ngFor="let category of categories"
              [value]="category.value"
            >
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- <div class="form-control">
      TODO: képfeltöltés
    </div> -->
    <div class="form-control">
      <span>Hozzávalók:</span>
      <div
        class="form-control"
        *ngFor="
          let ingredient of formGroup.controls.ingredients['controls'];
          index as i
        "
        [formGroup]="ingredient"
      >
        <mat-form-field class="inline-input quantity-input">
          <input
            matInput
            type="number"
            formControlName="quantity"
            placeholder="Mennyiség"
          />
        </mat-form-field>
        <mat-form-field class="inline-input unit-input">
          <input
            matInput
            type="text"
            formControlName="unit"
            placeholder="Mértékegység"
          />
        </mat-form-field>
        <mat-form-field class="inline-input ingredient-name-input">
          <input
            matInput
            type="text"
            formControlName="ingredientName"
            placeholder="Hozzávaló neve"
          />
        </mat-form-field>
        <button
          *ngIf="formGroup.controls.ingredients['controls'].length - 1"
          class="clickable form-array-button"
          (click)="removeIngredientFromFormArray(i)"
        >
          -
        </button>
        <button
          *ngIf="formGroup.controls.ingredients['controls'].length - 1 === i"
          class="clickable form-array-button"
          (click)="addIngredientToFormArray()"
        >
          +
        </button>
      </div>
    </div>
    <div class="form-control">
      <span>Elkészítés:</span>
      <div
        class="form-control"
        *ngFor="let step of formGroup.controls.steps['controls']; index as i"
      >
        <mat-form-field>
          <input
            matInput
            placeholder="{{ i + 1 }}. lépés"
            [formControl]="step"
          />
        </mat-form-field>
        <button
          *ngIf="formGroup.controls.steps['controls'].length - 1"
          class="clickable form-array-button"
          (click)="removeStepFromFormArray(i)"
        >
          -
        </button>
        <button
          *ngIf="formGroup.controls.steps['controls'].length - 1 === i"
          class="clickable form-array-button"
          (click)="addStepToFormArray()"
        >
          +
        </button>
      </div>
    </div>
    <div class="editor-button-container">
      <button (click)="sendRecipe()">Mentés</button>
    </div>
  </mat-card>
  <div class="placeholder"></div>
</div>
