<div *ngIf="recipeDetails" class="recipe-view-container">
  <button class="primary-button back-button" (click)="navigateToList()">
    < Vissza
  </button>
  <button class="primary-button edit-button" (click)="navigateToEdit()">
    Szerkesztés
  </button>
  <div class="recipe-header-container">
    <img
      class="clickable"
      height="280"
      src="{{ recipeDetails.image ? recipeDetails.image : placeholderImage }}"
    />
    <h1>{{ recipeDetails.name }}</h1>
  </div>
  <div class="recipe-information-container">
    <div class="ingredients-container">
      <span>Hozzávalók:</span>
      <ul>
        <li *ngFor="let ingredient of recipeDetails.ingredients">
          <span
            >{{ ingredient.quantity }} {{ ingredient.unit }}
            {{ ingredient.ingredientName }}</span
          >
        </li>
      </ul>
    </div>
    <div class="steps-container">
      <span>Elkészítés</span>
      <ul>
        <li *ngFor="let step of recipeDetails.steps">
          <span>{{ step }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
